.checkout-header {
  background-color: #FFA500;
  color: white;
  padding: 20px;
}

.checkout-text{ /*text in header*/
  position: relative;
  animation-name: textHeader-checkout;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes textHeader-checkout {
  0% {left: 0%}
  100% {left: 12%}

}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}