.contact-info-header {
  background-color: #FFA500;
  color: white;
  padding: 20px;
}

.contact-info-text{ /*text in header*/
  position: relative;
  animation-name: textHeader-contact-info;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes textHeader-contact-info {
  0% {left: 0%}
  100% {left: 12%}

}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#contact-info-form {
  color: black;
  margin-left: 28%;
  margin-top: 75px;
  margin-bottom: 16%;
  width: 40%;
}

#contact-info-submit-button{
  background-color: rgba(168, 17, 17, 0.72);
  border-color: rgba(168, 17, 17, 0.72);
  margin-top: 20px;

}