#body {
    background-color: white;
    min-height: 800px;
    overflow: scroll;


}

#para {
    background-color: tomato;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 75%;

}

#halfpizza{
    width: 25%;
    float: right;

}