#body {
    background-color: white;
    min-height: 800px;
    overflow: scroll;


}

/*#halfpizza {
    width: 25%;
    float: right;
    margin-left: 50px;
}*/

#halfpizza {
    position: absolute;
    top: 15%;
    right: 0;
    width: 25%;
    margin-top: 50px;
}

#orderbutton {
    background-color: rgba(168, 17, 17, 0.72);
    border-radius: 5px;
    border: none;
    display: inline-block;
    font-size: 20px;
    padding: 15px 32px;
    color: white;
    font-family: Arial, sans-serif;
    margin-top: 10px;
    margin-left: 20px;
}

#orderbutton:active{
    background-color: #FFA500;
    color: white;
}
/*container {
    border-width:4px;
    border-style:solid;
    border-radius: 7px;
    border-color: rgba(168, 17, 17, 0.72);
    margin-right: 70px;
    padding: 70px;
    padding-left: 50px;


}*/

#text {
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    padding-top: 200px;


    color: rgba(168, 17, 17, 0.72);
}

