.detail-header-offer {
    display: flex;
    flex-direction: row;
    background-color: #FFA500;
    color: white;
    padding: 20px;
}

.back-logo-header {
    width: 50px;
    margin-right: 20px;
}

.detail-container-offer {
  display: flex;
  margin: 10px;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.detail-img-offer {
  width: 30%;
}

.detail-text-container-offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.detail-price {
  font-weight: bold;
  font-size: 30px;
}
.offer-title {
  color: rgba(168, 17, 17, 0.82);
  font-weight: bolder;
  font-size: 40px;
  border-bottom: 2px solid black;
}

.offer-title2 {
  color: rgba(168, 17, 17, 0.82);
  padding-left: 30px;
  font-weight: bolder;
  font-size: 40px;
  border-bottom: 2px solid black;
}

.description{
  color: rgba(168, 17, 17, 0.72);
  font-size: 25px;
}

.basket-btn{
    background-color: rgba(168, 17, 17, 0.72);
    border-radius: 5px;
    border: none;
    display: inline-block;
    font-size: 20px;
    padding: 15px 32px;
    color: white;
    font-family: Arial, sans-serif;
    margin-top: 10px;
    margin-left: 60px;
    margin-bottom: 40px;
}

.offer-pizza-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
}

#pizzas-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#offer-add:disabled {
    background-color: grey;
}

.select-btn {
    font-size: 20px;
    margin-top: 10px;
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
}



