
.offer-img {
  width: 230px;
  height: 150px;
  border-radius: 20px 20px 0 0;
}

.offer-header {
  background-color: #FFA500;
  color: white;
  padding: 20px;

}

.offer-text{ /*text in header*/
  position: relative;
  animation-name: textHeader;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes textHeader {
  0% {left: 0%}
  100% {left: 12%}
}

.offers {
  list-style: none;
  margin: 0;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-decoration: none;
}
.offer-div {
  width: calc(33.33% - 50px);
  padding-bottom: 25px;
  color: black;

}

.price-offer {
  float: right;
  font-weight: bold;
  color: black;
}

#a-href-style{
  text-decoration: none;
}
.offer-name {
  padding-top: 10px;
  color: black;
  font-family: 'Montserrat', sans-serif;

}

.offer-name:hover {
  color: rgba(168, 17, 17, 0.72);
}
.offer-description {
  color: rgba(168, 17, 17, 0.72);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

#offer-body {
  background-color: #f3f0f0;
}





