.register-header {
  background-color: #FFA500;
  color: white;
  padding: 20px;
}

/*.register-text{ text in header
  position: relative;
  animation-name: textHeader-register;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
@keyframes textHeader-register {
  0% {left: -100%}
  100% {left: 3%}
}*/

#register-body {
  background-color: #f3f0f0;
}

label {
  color: rgba(168, 17, 17, 0.72);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
