.register-header {
  background-color: #FFA500;
  color: white;
  padding: 20px;
}

form.registerForm {
  margin-bottom: 100px;
  margin-top: 20px;
}
#profile-form{
    margin-left: 28%;
    margin-top: 75px;
    margin-bottom: 16%;
}

input#id_name {
    width: 70%;
}
input#id_profile_image{
    width: 70%;
    margin-bottom: 10px;
}

#register-body {
  background-color: #f3f0f0;
}

label {
  color: rgba(168, 17, 17, 0.72);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
