.review-header {
    display: flex;
    flex-direction: row;
    background-color: #FFA500;
    color: white;
    padding: 20px;
}
.back-logo-header {
    width: 50px;
    margin-right: 20px;
}

.review-text{ /*text in header*/
  position: relative;
  animation-name: textHeader-review;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes textHeader-review {
  0% {left: 0%}
  100% {left: 9%}

}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.checkout-item img {
    width: 230px;
    height: 150px;
    border-radius: 20px 20px 0 0;
}
.checkout-item {
  width: calc(33.33% - 50px);
  padding-bottom: 25px;
  color: black;
}
.checkout-item span {
  gap: 20px;
}

#review-body {
    background-color: #f3f0f0;
}

#your-order-items {
  list-style: none;
  margin: 0;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  text-decoration: none;

}

#total-price {
  float: right;
  color: black;
  padding: 10px;


}


