{% extends 'base.html' %}

{% block content %}

    <header>
      <h1>Special Offers</h1>
    </header>

    <main>
      <section>
        <ul class="offers">
            {% for offer in offers %}
            <li>
                <img class="offer-image" src="../static/images/{{offer.picture}}" alt="{{ offer.description }}">
                <h3>{{ offer.name }}</h3>
                <p>{{ offer.description }} </p>
                <span class="price">{{ offer.price}}.</span>
            </li>
            {% endfor %}
        </ul>
      </section>
    </main>

{% endblock %}