{% extends "base.html" %}

{% block content %}
    <header class="detail-header-offer">
        <a class="back-logo-header" href="{% url 'offers' %}"><img src="../../static/images/backyellow.jpg" alt="back icon"></a>
        <h1>Back to Offers</h1>
    </header>
    <div class="detail-container-offer">
        <img class="detail-img-offer" src="../../static/images/margarita.jpg">
        <div class="detail-text-container-offer">
            <p class="offer-title">{{ offer.name }}</p>
            <p class="description">{{ offer.description }}</p>
            <p class="offer-price">${{ offer.price }}</p>
        </div>
    </div>
    <div id="pizzas-container">
        {% for pizza in pizzas %}
            <div id="offer-pizza-container">
                <h2>{{ pizza.name }}</h2>
                <p>{{ pizza.toppings }}</p>
                <img src="../../static/images/{{ pizza.image }}">
                <button>Select pizza</button>
            </div>
        {% endfor %}
    </div>
    <div id="selected-pizzas">
        <h2>Selected: </h2>
    </div>
    <button class="basket-btn" onclick="addToBasket({{ offer.id }})">Add to basket</button>
{% endblock %}