{% extends 'base.html' %}

{% block content %}

    <header class="offer-header">
      <h1 class="offer-text">Special Offers</h1>
    </header>

    <main>
      <section>
        <ul class="offers">
            {% for offer in offers %}
            <li class="offer-li">
                <img class="offer-img" src="../../static/images/margarita.jpg" alt="{{ offer.description }}">
                <h3>{{ offer.name }}</h3>
                <p>{{ offer.description }} </p>
                <span class="price">{{ offer.price}}.</span>
            </li>
            {% endfor %}
        </ul>
      </section>
    </main>

{% endblock %}