{% extends "base.html" %}

{% block content %}
    <header class="detail-header-offer">
        <a class="back-logo-header" href="{% url 'offers' %}"><img src="../../static/images/backyellow.jpg" alt="back icon"></a>
        <h1>Back to Offers</h1>
    </header>
    <div class="detail-container-offer">
        <img class="detail-img-offer" src="../../static/images/{{ offerimage.first.image }}">
        <div class="detail-text-container-offer">
            <p class="offer-title">{{ offer.name }}</p>
            <p class="description">{{ offer.description }}</p>
            <p class="offer-price">${{ offer.price }}</p>
        </div>
    </div>
    <p class="offer-title2">Select two pizzas to include in the offer</p>

    <div id="pizzas-container">
        {% for pizza in pizzas %}
            <div id="{{ pizza.name }}" class="offer-pizza-container">
                <h2>{{ pizza.name }}</h2>
                <p>{{ pizza.toppings }}</p>
                <img src="../../static/images/{{ pizza.image }}">
                <button class="select-btn" onclick="selectPizza('{{ pizza.name }}')">Select pizza</button>
            </div>
        {% endfor %}
    </div>
    <button id="offer-add" class="basket-btn" onclick="addToBasketOffer(['{{ offer.name }}','margarita.jpg', {{ offer.price }}])" disabled>Add to basket</button>
{% endblock %}