{% extends 'base.html' %}

{% block content %}
<html>

  <body>
    <header>
      <h1>Menu</h1>
    </header>
    <main>
      <section>
        <h2>Pizzas</h2>

        <ul class="menu">
          <li>
            <img src="../../static/images/pepperoni.jpg" alt="Pepperoni Pizza">
            <h3>Pepperoni Pizza</h3>
            <p>A classic pizza topped with tomato sauce, mozzarella cheese, and pepperoni slices.</p>
            <span class="price">1299 kr.</span>
          </li>
          <li>
            <img src="../../static/images/margarita.jpg" alt="Margherita Pizza">
            <h3>Margherita Pizza</h3>
            <p>A simple pizza topped with tomato sauce, Icelandic mozzarella cheese.</p>
            <span class="price">1499 kr.</span>
          </li>
          <li>
            <img src="../../static/images/ananas.jpg" alt="Hawaiian Pizza">
            <h3>Hawaiian Pizza</h3>
            <p>A pizza topped with tomato sauce, mozzarella cheese, ham, and pineapple.</p>
            <span class="price">1599 kr.</span>
          </li>
        </ul>
      </section>
      <section>
        <h2>Drinks</h2>
        <ul class="menu">
          <li>
            <img src="../../static/images/coke.png" alt="Hawaiian Pizza" class="coca">
            <h3>Coca cola</h3>
            <p>A cold can of your bigthor fav soda.</p>
            <span class="price">$1.99</span>
          </li>
          <li>
            <img src="../../static/images/vatn.jpg" alt="Hawaiian Pizza" class="water">

            <h3>Water</h3>
            <p>A bottle of refreshing water.</p>
            <span class="price">$0.99</span>
          </li>
          <li>
            <h3>Juice</h3>
            <p>A bottle of fresh-squeezed juice.</p>
            <span class="price">$2.99</span>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
{% endblock %}