{% extends 'base.html' %}

{% block content %}

    <header class="menu-header">
      <h1>Menu</h1>
    </header>
    <main>
        <h2>Pizzas</h2>

        <div class="input-group">
            <input type="search" class="form-control" id="search-box" placeholder="Search for pizza....">
            <div class="input-group-btn">
                <button type="button" id="search-btn" class="btn btn-default">Search</button>
            </div>
        </div>

        <div class="menu">
            {% for pizza in pizzas %}
            <div class="menu-div">
                <a href="/menu/{{ pizza.id }}">
                    <img class="menu-img" src="../../static/images/{{pizza.image}}" alt={{ pizza.name }}>
                    <h3>{{ pizza.name }}</h3>
                    <p>{{ pizza.description }} </p>
                    <span class="price">{{ pizza.price}}.</span>
                </a>
            </div>
            {% endfor %}
        </div>
    </main>



{% endblock %}