<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Locations:</h5>

        <ul>
            <li class="footer-li">
                <p>Laugarvegur 3, 107 Reykjavík</p>
            </li>
            <li>
                <p>Grímsbær, 108 Reykjavík</p>
            </li>
            <li>
                <p>Skútuvogur 4, 108 Reykjavík</p>
            </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contacts:</h5>

        <ul>
            <li class="footer-li">
                <p>Email: pizza@lair.com</p>
            </li>
            <li>
                <p>Phone: 123-456-0678</p>
            </li>
            <li>
                <p>Facebook: Pizza Lair</p>
            </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>