<footer class="bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Locations:</h5>

        <ul>
            <li class="footer-li">
                <p>Laugarvegur 3, 107 Reykjavík</p>
            </li>
            <li>
                <p>Grímsbær, 108 Reykjavík</p>
            </li>
            <li>
                <p>Skútuvogur 4, 108 Reykjavík</p>
            </li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contacts:</h5>

        <ul>
            <li class="footer-li">
                <p>Email: pizza@lair.com</p>
            </li>
            <li>
                <p>Phone: 123-456-0678</p>
            </li>
            <li>
                <p>Facebook: Pizza Lair</p>
            </li>
        </ul>
      </div>
    </div>
  </div>
</footer>