{% extends 'base.html' %}

{% block content %}
    <header class="confirmation-header">
      <h1 class="confirmation-text">Your order has been confirmed!</h1>
    </header>

    <body id="confirmation-body">
        <main>
            <div id="main-text-confirmation">
                <h2 id="thankyou">Thank you for your order!</h2>
                <h3>Your pizza is in the making</h3>
                <img id="logoconfirmation" src="../../static/images/logo.jpg" alt="logo">
                <h3 id="orderNR">Your order number: 1234</h3>
            </div>
        </main>
    </body>

{% endblock %}