{% extends 'base.html' %}

{% block content %}
    <header class="payment-info-header">
        <a class="back-logo-header" href="{% url 'contactInfo' %}"><img src="../../static/images/backyellow.jpg" alt="back icon"></a>
        <h1 class="payment-info-text">Payment Information</h1>
    </header>

    <form id="payment-info-form" class="form form-horizontal" method="post">
        {% csrf_token %}
        {{ form }}
        <input id="payment-info-submit-button" type="submit" class="btn btn-primary pull-right" value="Submit payment info and head to review" onclick="savePaymentInformation()">
    </form>


{% endblock %}