{% extends 'base.html' %}

{% block content %}
    <header class="review-header">
        <a class="back-logo-header" href="{% url 'paymentInfo' %}"><img src="../../static/images/backyellow.jpg" alt="back icon"></a>
        <h1 class="review-text">Review order</h1>
    </header>

    <body id="review-body">
        <main>
            <div id="your-order-items">
            </div>
            <h3 id="total-price"></h3>
            <div id="info-div">
                <h2>Your Information:</h2>
            </div>
            <a href="{% url 'confirmation' %}">
                <input id="confirm-button" type="button" value="Confirm order" class="basket-btn"">
            </a>
        </main>
    </body>

{% endblock %}